@mixin flex($content) {
	display: flex;
	justify-content: $content;
}

.App {
	background: whitesmoke;
	margin: 0px 2%;
	padding: 1%;
	.player-console {
		@include flex(space-around);
	}
}
.room-info {
	@include flex(space-between);
}
